*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header-nav{
    background: #322E41;
}

.nav{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
}
.link{
    display: inline-block;
    color: #FFFFFF;
    line-height: 19px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    padding: 23px 14px;
    transition: 0.5s;
}
.link:hover{
    background: #FFFFFF;
    color: #D47300;
}
.header{
    background: url(img/Nike-Adapt-BB\ 1.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.header-title{
    color: #FFFFFF;
    font-family: 'Roboto';
    line-height: 59px;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
}
.header-description{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto';
    font-weight: normal;
}
.header-span{
    font-weight: bold;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}